
.rqrcontrol {
    font-family:        roboto,arial,sans-serif;
    font-size:          13px;
    position:           absolute;
    left:               50%;
    top:                50%;
    transform:          translate(-50%, -50%);
    width:              600px;
    height:             400px;
    background-color:   white;
    box-shadow:         9px 7px 28px 2px rgba(0,0,0,0.75);
    z-index:             1000;
    visibility:         visible;
    /*  visible  hidden */
}

.rqrContentArea {
    padding:            5px;
    top:                40px;   
    left:               0px;
    right:              0px;  
    bottom:             9px;
    margin:             3px;
    position:           absolute;
    display:            flex;
    flex-direction:     row;
}

.rqrControlHeader { 
    height:     28px;
    padding:    10px; 
    border-bottom:1px solid darkgrey;
    display:flex
}

.rqrControlHeaderLabel {
    width:      170px;
    margin-top: 2px;
    font-size:  16pt;
    font-style:bold;
}

.rqrControlHeaderInput {
    width:  350px;
    height: 25px;
}

.rqrControlHeaderCloseButton {
    width:      50px;
    height:     15px;
    text-align: right;
    font-size:  10pt;
    color:  grey;
}

.rqrContentAreaSideBar {
    border-right:   1px solid lightgrey; 
    width:          150px;
}

.rqrContentAreaTopics {
    overflow:           scroll; 
    scrollbar-width:    none; 
    width:              100%
}

.rqrTopicList {
    padding-top:        5px;
}

.rqrTopicListItem {
    padding-top:        8px;
    padding-left:       3px;
    font-size:          12px; 
    height:             20px;
}

.rqrTopic  {
    margin: 10px;
}

.rqrTopicHeader {
    padding-top:    8px;
    height:         25px; 
    font-weight:    bold; 
}

.rqrTopicTable {
    width:              100%;
    border-collapse:    collapse;
}

.rqrTopicTableHeader {
    text-align:         left;
    font-style:        italic;
    font-size:          12px;
    color:              lightgrey;
}