.rqrcontrol {
    font-family:        roboto,arial,sans-serif;
    font-size:          13px;
    position:           absolute;
    left:               1px;
    top:                1px;
    width:              585px;
    height:             400px;
    background-color:   white;
}

.rqrContentArea {
    padding:            5px;
    top:                51px;   
    left:               0px;
    right:              0px;  
    bottom:             9px;
    margin:             3px;
    position:           absolute;
    display:            flex;
    flex-direction:     row;
}

.rqrControlHeader { 
    color:              black !important;
    height:     38px;
    padding:    10px; 
    border-bottom:1px solid darkgrey;
    display:flex
}

.rqrControlHeaderInput {
    box-sizing: border-box;
    font-size: 14pt;
    padding: 3px;
    left: 18px;
    width:  570px;
    height: 35px;
    border: 1px solid white;
    background-color: rgba(248, 246, 246, 0.938);
}

input[type=text]:focus{
  outline: 1px solid lightgrey;
}


.rqrContentAreaSideBar {
    border-right:   1px solid lightgrey; 
    width:          150px;
    padding-top:     10px;
}

.rqrContentAreaTopics {
    color:              black !important;
    overflow:           scroll; 
    scrollbar-width:    10px; 
    width:              100%;
    margin-top:         14px;
    height:             320px;
}

::-webkit-scrollbar {
    overflow: visible;
    width: 10px;
}
::-webkit-scrollbar-thumb {
    background-color: rgba(0,0,0,.2);
    background-clip: padding-box;
    border: solid transparent;
    border-width: 1px 1px 1px 6px;
    min-height: 28px;
    padding: 100px 0 0; 
    -webkit-box-shadow: inset 1px 1px 0 rgba(0,0,0,.1), inset 0 -1px 0 rgba(0,0,0,.07);
    box-shadow: inset 1px 1px 0 rgba(0,0,0,.1), inset 0 -1px 0 rgba(0,0,0,.07); 
}

.rqrTopicList {
    padding-top:        4px;
}

.rqrTopicListItem {
    color:              black !important;
    padding-left:       3px;
    font-size:          12px; 
}

.rqrTopicActive {
    padding-left:       3px;
    font-size:          12px; 
    color: #1a73e8 !important;
    font-weight: bold;
}

.rqrTopic  {
    margin: 10px;
}

.rqrTopicHeader {
    color:              black !important;
    height:         25px; 
    font-weight:    bold; 
}

.rqrTopicTable {
    width:              100%;
    border-collapse:    collapse;
    margin-bottom:      5px;
}

.rqrTopicTableHeader {
    text-align:         left;
    font-style:        italic;
    font-size:          10px;
    color:              grey !important;
}

.rqrTableRow {
    color:              black !important;
/*     border-bottom:  1px dashed lightgrey;  */
    width:          100%;
    table-layout:   fixed;overflow-wrap: break-word;
}

.rqrTableRow:nth-child(odd) {
    background:   #f7f7f7;
}

.rqrTableRow, td {
    color:              black !important;
    padding-top:    3px; 
    padding-bottom: 3px;
    padding-right:  5px;
    vertical-align: top;
}
